* {
	padding: 0;
	margin: 0;
}
footer {
	font-size: 20px;
	padding-left: 170px;
	padding-top: 30px;
}
.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: 0px;
	margin-left: 0px;
}

.contact-cta {
	display: inline-block;
	position: fixed;
	top: 280px;
	left: -69px;
	transform: rotate(-90deg);
	padding: 5px 35px;
	color: white;
	font-size: 20px;
	border: 1px solid rgb(221, 153, 51);
}
.contact-cta:hover {
	cursor: pointer;
}
.online-cta {
	display: inline-block;
	position: fixed;
	bottom: -7px;
	right: 15px;
	padding: 9px 75px;
	color: white;
	font-size: 20px;
	border-radius: 10px;
}
.hero-section {
	padding-top: 100px;
	padding-left: 80px;
}
.hero-section h6 {
	font-size: 17px;
	font-weight: bold;
	letter-spacing: 3px;
}
.hero-section h2 {
	margin-top: 15px;
	font-size: 40px;
	font-weight: bold;
}
.img-sizing-1 {
	width: 320px;
	height: 360px;
	margin-top: 40px;
}
.img-sizing-2 {
	width: 200px;
	height: 250px;
}
.img-sizing-3 {
	width: 260px;
	height: 170px;
}
.mark-text {
	position: relative;
}
.mark-text-first::before {
	position: absolute;
	content: "";
	height: 13px;
	width: 94px;
	background: url("../images/headline-curve.svg");
	background-repeat: no-repeat;
	bottom: -8px;
	left: 15px;
}

.mark-text-second::before {
	position: absolute;
	content: "";
	height: 13px;
	width: 94px;
	background: url("../images/headline-curve.svg");
	background-repeat: no-repeat;
	bottom: -10px;
	left: -35px;
}

.mark-text-third::before {
	position: absolute;
	content: "";
	height: 13px;
	width: 94px;
	background: url("../images/headline-curve.svg");
	background-repeat: no-repeat;

	bottom: -10px;
	left: 15px;
}
.mark-text-fourth::before {
	position: absolute;
	content: "";
	height: 13px;
	width: 94px;
	background: url("../images/headline-curve.svg");
	background-repeat: no-repeat;

	bottom: -10px;
	left: 29px;
}
.mark-text-fifth::before {
	position: absolute;
	content: "";
	height: 13px;
	width: 94px;
	background: url("../images/headline-curve.svg");
	background-repeat: no-repeat;

	bottom: -10px;
	left: 15px;
}
.mark-text-six::before {
	position: absolute;
	content: "";
	height: 13px;
	width: 94px;
	background: url("../images/headline-curve.svg");
	background-repeat: no-repeat;

	bottom: -10px;
	left: 770px;
}

.search-field {
	border: 1px solid #17a2b8;
	border-radius: 2px 0px 0px 2px;
}
.search-field::placeholder {
	font-style: italic;
}
.search-field:focus {
	outline: none;
}
.btn-search {
	position: relative;
	border-radius: 0px 2px 2px 0px;
}

.btn-search::before {
	content: "";
	position: absolute;
	background: #17a2b8;
	width: 10px;
	height: 10px;
	top: 42%;
	left: -6px;
	transform: rotate(45deg);
}
.outline-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}

.outline-container i {
	font-size: 70px;
	padding-left: 50px;
	padding-top: 7px;
}
.outline-container div {
	padding: 10px;
	padding-left: 70px;
	padding-top: 30px;
}
.outline-container img {
	padding-top: 5px;
	padding-left: 50px;
}

.course-container h2 {
	font-weight: bold;
}
.slider-container {
	width: 1200px;
	margin: 0 auto;
}

.slider-one {
	background: url("../images/javascript-1567486564472.jpg");
	background-size: cover;
	height: 250px;
	overflow: hidden;
}
.slider-two {
	background: url("../images/laravel-featured.png");
	background-size: cover;
	height: 250px;
}
.slider-three {
	background: url("../images/gom_elearning-python-for-beginners_teaser.jpg");
	background-size: cover;
	height: 250px;
}
.slider-four {
	background: url("../images/react-context-api-4929b3703a1a7082d99b53eb1bbfc31f.png");
	background-size: cover;

	height: 250px;
}
.slider-fifth {
	background: url("../images/the-best-applications-to-learn-as-a-graphics-designer.jpg");
	background-size: cover;
	height: 250px;
}

.slick-next:before,
.slick-prev:before {
	font-size: 47px;
	line-height: 1;
	opacity: 0.75;
	color: rgb(23, 162, 184);
}
.slick-prev {
	left: -48px;
}
.slick-next {
	right: -25px;
}
/* the slides */
.slick-slide {
	margin: 0 10px;
}
/* the parent */
.slick-list {
	margin: 0 -10px;
}

.overlay {
	background: rgba(26, 25, 25, 0.459);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: white;
	text-align: center;
}
.slider-btn {
	margin-top: 80px;
}
/* top categories */

.categories h2 {
	font-weight: bold;
}
.grid-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-items: center;
	grid-gap: 10px;
	margin-left: 50px;
	margin-right: 50px;
}

.card-cg {
	width: 95%;
	height: 200px;
	border-radius: 15px;
	margin-left: 10px;
	margin-top: 10px;
}

/*Our services part */
.services-container {
	padding-top: 30px;
}
.services-container h2 {
	font-weight: bold;
	padding-bottom: 50px;
}

/* Reviews section */
.reviews-container {
	padding-top: 30px;
}
.reviews-container h2 {
	font-weight: bold;
}
.review-container {
	padding-left: 60px;
}
.review-google img {
	width: 73%;
	border-radius: 100%;
}
.card-detail-google h5 {
	font-weight: bold;
}
.card-detail-google h6 {
	font-weight: bold;
	color: #e7711b;
}

.review-card img {
	border-radius: 100%;
}
.icon-review {
	font-size: 15px;
}

.card-detail {
	padding-left: 10px;
}
.card-detail i {
	color: #e7711b;
}

/* footer section */
.fotter-container {
	margin-top: 130px;
}
.fotter-container img {
	padding-top: 40px;
	padding-left: 200px;
	width: 350px;
}

.footer-details {
	padding-left: 40px;
	letter-spacing: 1px;
	padding-top: 30px;
}
.footer-icons {
	padding-left: 120px;
	font-size: 20px;
}
.footer-sizing {
	padding-top: 70px;
	padding-left: 20px;
}
.footer-sizing h5 {
	font-weight: bold;
}
.footer-courses a {
	text-decoration: none;
	color: white;
}
/* categories section */

.c-1 {
	background: url("../images/categories/Postgraduate.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.c-2 {
	background: url("../images/categories/under.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.c-3 {
	background: url("../images/categories/Accounting\ &\ Finance.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.c-4 {
	background: url("../images/categories/Business\ &\ Managment.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.c-5 {
	background: url("../images/categories/Project\ Management.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.c-6 {
	background: url("../images/categories/suppy-chain.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.c-7 {
	background: url("../images/categories/education.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.c-8 {
	background: url("../images/categories/team-leader.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.c-9 {
	background: url("../images/categories/tourisom.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.c-10 {
	background: url("../images/categories/information.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.c-11 {
	background: url("../images/categories/health.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.c-12 {
	background: url("../images/categories/law.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.card-cg div {
	color: white;
	display: flex;
	justify-content: center;
	font-weight: bold;
	font-size: 23px;
	padding-top: 70px;
}

/* Media Queries */

/* Mobile device */

@media (min-width: 576px) {
	* {
		margin: 0;
		padding: 0;
	}
	/* hero section */
	.hero-section {
		padding-top: 100px;
		padding-left: 23px;
		/* margin: 0 auto; */
		margin: 34px;
		padding-right: -2px;
	}
	.hero-section h6 {
		font-size: 17px;
	}
	.hero-section h2 {
		margin-top: 30px;
		font-size: 26px;
		line-height: 35px;
	}
	.img-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	.img-sizing-1 {
		width: 263px;
		height: 281px;
		margin-top: 20px;
	}
	.img-sizing-2 {
		width: 173px;
		height: 176px;
	}
	.img-sizing-3 {
		width: 213px;
		height: 139px;
	}
	/* outline */
	.outline-container {
		grid-template-columns: repeat(1, 1fr);
		margin-right: 74px;

		justify-items: center;
	}
	.grid-container {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 10px;
		margin-right: 39px;
		align-items: center;
		align-content: center;
		padding-left: -16px;
	}
	.card-cg {
		margin-left: -5px;
	}
	/* slider */
	.slider-container {
		width: auto;
		height: auto;
		margin-right: 92px;
		margin-left: 89px;
	}
	.slick-prev {
		position: relative;
		left: 5px;
		top: 130px !important;
		z-index: 999 !important;
	}
	.slick-next {
		right: 31px;
	}
	.slick-next,
	.slick-prev {
		font-size: 0;
		line-height: 0;
		top: 50%;
		width: 20px;
		height: 20px;
		margin-top: -10px\9;
		-webkit-transform: translate(0, -50%);
		-ms-transform: translate(0, -50%);
		transform: translate(0, -50%);
		cursor: pointer;
		color: transparent;
		border: none;
		outline: 0;
		background: 0 0;
	}
	/* our service section */
	.services-container h2 {
		font-size: 25px;
		padding-left: 66px;
	}
	.iframe {
		width: auto;
		height: 170px;
		margin-right: 6px;
	}
	.services-container h2 {
		font-size: 25px;
		padding-right: 80px;
	}
	/* review */
	.review-container {
		padding-left: 8px;
		padding-right: 155px;
		margin: 7px;
	}
	.mark-text-six::before {
		position: absolute;
		content: "";
		height: 13px;
		width: 94px;
		background: url("../images/headline-curve.svg");
		background-repeat: no-repeat;

		bottom: -10px;
		left: 170px;
	}
	/* footer */
	.footer-grid-container {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
	footer {
		font-size: 20px;
		padding-left: 35px;
		padding-top: 30px;
	}
	.footer-details {
		padding-left: 16px;
		letter-spacing: 1px;
		padding-top: 30px;
		margin-right: 49px;
		padding-right: 20px;
	}
	.fotter-container img {
		padding-left: 96px;
		width: 228px;
	}
	.footer-icons {
		padding-left: 43px;
	}
	.footer-sizing {
		margin-right: 54px;
		padding-left: 30px;
		padding-right: 20px;
	}
	/* online chat */
	.online-cta {
		display: inline-block;
		position: fixed;
		bottom: 9px;
		right: 46px;
		padding: 13px 0px;
		color: white;
		font-size: 20px;
		border-radius: 100px;
	}
}

/* 
 /////////////////////////////////////

 @media (min-width: 768px) {
	* {
		margin: 0;
		padding: 0;
	}
	
	.hero-section {
		padding-top: 100px;
		padding-left: 13px;
		 margin: 0 auto; 
		margin: 34px;
		padding-right: 9px;
	}
	.hero-section h6 {
		font-size: 23px;
	}
	.hero-section h2 {
		font-size: 44px;
		line-height: 53px;
		margin-top: 33px;
	}
	.img-container {
		margin-top: 20px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	.img-sizing-1 {
		width: 333px;
		height: 353px;
		margin-top: 30px;
		padding-left: 18px;
	}
	.img-sizing-2 {
		width: 217px;
		height: 248px;
	}
	.img-sizing-3 {
		width: 291px;
		height: 194px;
	}
	
	.outline-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-items: center;
		align-items: center;
	}
	
	.slider-container {
		width: auto;
		padding: 21px;
	}
	.slick-prev {
		left: 6px;
		z-index: 999;
	}
	.slick-next {
		right: 39px;
	}
	
	.grid-container {
		grid-template-columns: repeat(2, 1fr);
	}
	

	.iframe {
		width: 539px;
		height: 312px;
		margin-right: 0px;
	}
	
	.mark-text-six::before {
		position: absolute;
		content: "";
		height: 13px;
		width: 94px;
		background: url("../images/headline-curve.svg");
		background-repeat: no-repeat;
		bottom: -10px;
		left: 388px;
	}
	.review-container {
		padding-top: 33px;
		padding-left: 53px;
		padding-right: 97px;
	}

	.online-cta {
		display: inline-block;
		position: fixed;
		bottom: -7px;
		right: 32px;
		padding: 9px 75px;
		color: white;
		font-size: 20px;
		border-radius: 10px;
	}

   

*/

/* @media {
	max-width: 992px;
} */
